* {
  margin: 0;
  padding: 0;
}
.container-slide {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 50vh;
  background-color: black;
  margin: 20vh auto;
  border-radius: 10px;
  box-shadow: 0px 15px 25px black;
}
.container-items {
  position: absolute;
  display: flex;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
  overflow: hidden;
}
.item {
  width: 50vw;
  height: 50vh;
  transition: all 1s;
}
.item:first-child {
  margin-left: -100%;
}
.item img {
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
}
.action-button {
  font: bold 30px sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: #00000000;
  user-select: none;
  z-index: 1;
}
.action-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20pt;
}
.text {
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: fit-content;
  align-items: center;
  font-size: 15pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0px 0px 10px black;
  background: beige;
  color: rgb(151, 146, 146);
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
}
