@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Urbanist", sans-serif;
  color: #0c0c0c;
}
body {
  margin: 0;
  background-color: #f8f8ff;
  color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}



header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.display-none {
  display: hidden;
}

.note-content {
  max-width: 1500px;
  margin-left: 28px;
  font-size: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#principal-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  gap: 20px;
}

.note-title {
  font-size: 25px;
}

.note-real-content {
  margin-left: 28px;
}

#footer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  margin-top: 10%;
  font-size: 30px;
  width: 100%;
  text-align: center;
}


h1 {
  font-size: 45px;
}

summary {
  font-size: 35px;
}

#new-note {
  outline: none;
}

#clear-notes-button {
  cursor: pointer;
}

#show-notes-div {
  align-self: flex-start;
  font-size: 25px;
}

textarea {
  border-width: 2px;
  border-style: solid;
  color: #000000;
  font-size: 22px;
}

#submit-button {
  padding: 10px;
  border-radius: 10px;
  font-size: 26px;
  width: 307px;
  background-color: #313131;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

#submit-button:hover {
  transition: all 0.5s ease;
}

#credit {
  font-size: 14pt;
}

.social-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.social-icon i {
  cursor: pointer;
  font-size: 40pt;
}

hr {
  max-width: 320px;
  width: 100%;
  border: 1px solid #0c0c0c38;
}
