@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
  @apply hidden;
}

.note-content {
  margin-left: 28px;
}

.note-real-content {
  margin-left: 28px;
}

@layer base {
  body {
    font-family: "Fira Code", monospace;
  }
}
